.api__products {
  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    .card {
      img {
        width: 300px;
        height: 290px;
        object-fit: cover;
      }
    }
  }
}
